<% users.each do |user| %>
      <table class="table">
        <tbody>
          <tr class="row  justify-content-center" style="height: 75px">
            <td class="col-4 text-center"><%= image_tag user.get_profile_image, class:"thumbnail2 rounded-circle" %></td>
            <td class="col-4 text-center">
              <%= link_to user_path(user.id) do %>
              <p class="my-4 h5"><%= user.name %></p>
              <% end %>
            </td>
            <td class="col-4 text-center">
              <% if user.id != current_user.id %>
                <% if user.is_followed_by?(current_user) %>
                <%= link_to "フォロー解除",user_relationships_path(user.id), method: :delete, class:"btn btn-danger mt-3" %>
                <% else %>
                <%= link_to "フォロー",user_relationships_path(user.id), method: :post, class:"btn btn-success mt-3" %>
                <% end %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    <% end %>