<h1>Users#show</h1>

<%= @user.name %>
<%= image_tag "noimage",size: "100x100" %>
<%= @user.favorits.count %>
<%= link_to "フォロー数:", relationships_index_follow_path %>
<%= link_to "フォロワー数:", relationships_index_follower_path %>
<%= @user.profile %>
<% if @user.id == current_user.id %>
<%= link_to "編集する", edit_user_path(@user.id) %>
<% end %>
<h2>投稿記事一覧</h2>
<%# @dishes.each do |dish| %>
  <%#= link_to dish_path(dish.id) do %>
  <%#= image_tag dish.image, size:"100x100" %>
  <%# end %>
  <!--お気に入り数-->
  <%#= dish.created_at %>
  <%# disn.name %>
<%# end %>



