    <div class="flash">
    　<p><%= flash[:notice] %></p>
    </div>


<div class="container mt-5">
  <div class="row justify-content-center">
      <div class="col-lg-4 ">
        <% if @user.id == current_user.id %>
        <%= link_to "編集", edit_user_path(@user.id),class:"btn btn-light" %>
        <% end %>
      <div class="row justify-content-center mb-4">
        <%= image_tag @user.get_profile_image,size: "200x200",class:"rounded-circle mx-auto" %>
      </div>
      <table class="table mx-auto">
        <tbody>
          <tr>
            <td class="align-middle text-center">
            <%= @user.name %>
            </td>
          </tr>
          <tr>
            <td class="align-middle text-center">
             みんなからのいいね  <i class="fa-solid fa-heart fa-fw faa-wrench animated-hover" style="color: #ff6347;"></i><%= @favorits_count %>
            </td>
          </tr>
          <tr>
            <div class="row">
                <td class="align-middle text-center col-xl-6">
                <%= link_to followings_user_path(@user.id),class:"mr-5" do %>
                  フォロー<%= @user.followings.count %>
                <% end %>
                <%= link_to followers_user_path(@user.id) do %>
                  フォロワー<%= @user.followers.count %>
                <% end %>
                </td>
            </div>
          </tr>
          <tr>
            <td class="align-middle text-center">
            <%= h(@user.profile).gsub(/\n|\r|\r\n/, "<br>").html_safe %>
            </td>
          </tr>
          <tr>
            <td class="align-middle text-center">
            <%= render 'users/follow_buttun',user: @user %><!--部分テンプレート-->
            </td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="col-lg-8 mt-4">
      <h2 class="mb-4 text-center">〜投稿記事一覧〜</h2>
      <div class="images">
        <% @dishes.each do |dish| %>
        <div class="dish_image text-center mb-4">
          <%= link_to dish_path(dish.id) do %>
          <%= image_tag dish.dish_image, size: "150x110" %>
          <% end %>
          <%= dish.created_at.strftime('%Y/%m/%d') %><br>
          <%= dish.dish_name %><br>
          <i class="fa-solid fa-heart fa-fw faa-wrench animated-hover" style="color: #ff6347;"></i> <%= dish.favorits.count %>
        </div>
        <% end %>
      </div>
    </div>
    <%= paginate @dishes %>
  </div>
</div>




