
<%= @user.name %>
<%= image_tag @user.get_profile_image,size: "200x200",class:"rounded-circle" %>
<%= @user.favorits.count %>
<%= link_to followings_user_path(@user.id) do %>
フォロー<%= @user.followings.count %>
<% end %>
<%= link_to followers_user_path(@user.id) do %>
フォロワー<%= @user.followers.count %>
<% end %>
<% if @user.id != current_user.id %>
  <% if @user.is_followed_by?(current_user) %>
  <%= link_to "フォロー解除",user_relationships_path(@user.id), method: :delete %>
  <% else %>
  <%= link_to "フォロー",user_relationships_path(@user.id), method: :post %>
  <% end %>
<% end %>

<%= @user.profile %>

<% if @user.id == current_user.id %>
<%= link_to "編集する", edit_user_path(@user.id) %>
<% end %>

<h2>投稿記事一覧</h2>
<% @dishes.each do |dish| %>
  <%= link_to dish_path(dish.id) do %>
  <%= image_tag dish.dish_image, size: "100x100" %>
  <% end %>
  <!--お気に入り数-->
  <%= dish.created_at %>
  <%= dish.dish_name %>
<% end %>



