<div class="container">
  <div class="row  justify-content-center">
    <div class="col-10 mt-5">
    <h1 class="my-5">編集画面</h1>
    <%= form_with model: @dish, url: dish_path(@dish.id), method: :patch do |f| %>
      <% if @dish.errors.any? %>
      <div class="row justify-content-center">
        <div class="alert alert-warning">
        <%= @dish.errors.count %>件のエラーが発生しました
        <ul>
          <% @dish.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
        </div>
      </div>
      <% end %>
      <div class="row mb-4 mt-2">
      <%= f.label "料理名", class:"col-4 col-form-label text-center" %>
      <%= f.text_field :dish_name, class:"col-8 form-control", placeholder:"料理名を入力してください。" %>
      </div>
      <div class="row mb-4">
      <%= f.label "料理画像", class:"col-4 col-form-label text-center" %>
      <%= f.file_field :dish_image, accept: "image/*" %>
      </div>
      <div class="row mb-4">
      <%= f.label "紹介文", class:"col-4 col-form-label text-center" %>
      <%= f.text_area :introduction, class:"col-8 form-control", placeholder:"300文字以内で入力してください" %>
      </div>
      <div class="row">
        <div class="col-12 text-right">
        <%= f.submit "編集する",class:"btn btn-light" %>
        <%= link_to "削除する", dish_path(@dish.id), method: :delete, data: {confirm: "削除しますか？"}, class:"btn btn-danger" %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>

