<h1>投稿一覧</h1></h1>
<%= search_form_for @q do |f| %>
  <%= f.label :introduction, "キーワード" %>
  <%= f.search_field :introduction_cont %>
   <i class="fa-solid fa-magnifying-glass faa-wrench animated-hover"></i><%= f.submit "検索" %>
<% end %>
<% @searchs.each do |result| %>
    <%= image_tag result.dish_image, size: "100x100" %>
    <%= link_to dish_path(result.id) do %>
    <%= result.dish_name %>
    <% end %>
  <% end %>

<%# @dishes.each do |dish| %>
<%#= link_to dish_path(dish.id) do %>
<%#= image_tag dish.dish_image, size: "100x100" %>
<%# end %>
<%#= dish.dish_name %>
<%# end %>



