<div class="container my-4">
  <div class="row justify-content-center">
    <div class="col-10">
    <h1>投稿一覧</h1>
    </div>
  </div>
</div>
<div class="container mb-4">
  <div class="row justify-content-center">
    <div class="col-10">
    <%= search_form_for @q do |f| %>
      <%= f.label :introduction, "キーワード" %>
      <%= f.search_field :introduction_cont %>
       <i class="fa-solid fa-magnifying-glass faa-wrench animated-hover"></i><%= f.submit "検索" %>
    <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-xl-10">
      <table class="table">
        <thead>
          <tr>
            <div class="row">
              <th class="col-3 text-center">料理写真</th>
              <th class="col-2 text-center">投稿日時</th>
              <th class="col-3 text-center">料理名</th>
              <th class="col-3 text-center">投稿者名</th>
            </div>
          </tr>
        </thead>
        <tbody>
        <% @searchs.each do |result| %>
          <tr>
            <div class="row ">

              <td class="col-3 text-center">
                <div class="index_img">
                  <%= image_tag result.dish_image, size: "150x110" %>
                  </div>
              </td>
              <td class="col-3 text-center">
                <p class="mt-5">
                <%= result.created_at.strftime('%Y/%m/%d') %>
                </p>
              </td>
              <td class="col-3 text-center">
                <p class="mt-5">
                <%= link_to dish_path(result.id) do %>
                <%= result.dish_name %>
                <% end %>
                </p>
              </td>
              <td class="col-3 text-center">
                <p class="mt-5">
                <%= link_to user_path(result.user_id) do %>
                <%= result.user.name %>
                <% end %>
                </p>
              </td>
            </div>
          </tr>
      <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>





<%# @dishes.each do |dish| %>
<%#= link_to dish_path(dish.id) do %>
<%#= image_tag dish.dish_image, size: "100x100" %>
<%# end %>
<%#= dish.dish_name %>
<%# end %>



