<h1>Dishes#new</h1>
<p>Find me in app/views/dishes/new.html.erb</p>
<h2></h2>
<%= form_with model: @dish, url: dishes_path(@dish), method: :post do |f|  %>
<%= f.label "料理名" %>
<%= f.text_field :dish_name %>
<%= f.label "料理画像" %>
<%= f.file_field :image, accept: "image" %>
<%= f.label "紹介文" %>
<%= f.text_area :introduction %>
<%= f.submit "CookOPする" %>
<% end %>
