<h1>投稿詳細ページ</h1>
<h3>
  <%= link_to user_path(@dish.user_id) do %>
  <%= @dish.user.name %>
  <% end %>
  さんの
  <%= @dish.dish_name %>
</h3>
<%= image_tag @dish.dish_image, size: "400x400" %>
<%= @dish.dish_name %>
<%= @dish.created_at %>
<%= @dish.introduction %>
<% if @dish.user_id == current_user.id %>
<%= link_to "編集", edit_dish_path(@dish.id) %>
<% end %>

<% if @dish.favorited_by?(current_user) %>
 <p>
   <%= link_to dish_favorites_path(@dish.id), method: :delete do %>
   <i class="fa-solid fa-heart"></i><%= @dish.favorits.count %>いいね
   <% end %>
 </p>
 <% else %>
 <p>
   <%= link_to dish_favorites_path(@dish.id), method: :post do %>
   <i class="fa-regular fa-heart"></i><%= @dish.favorits.count %>いいね
   <% end %>
 </p>
 <% end %>
<!--お気に入り数--><!--お気に入りボタン♡-->

<%= form_with model:[@dish,@comment], url: dish_comments_path(@dish.id), method: :post do |f| %>
<i class="fa-regular fa-comments"></i><%= f.label "新規コメント" %>
<%= f.text_field :comment_text %>
<%= f.submit "コメント" %>
<% end %>

<p>コメント件数:<%= @comments.count %></p>
<% @comments.each do |comment| %>
<%= link_to user_path(comment.user_id) do %>
<%= image_tag comment.user.profile_image, size: "80x80" %>
<% end %>
<%= comment.user.name %>
<%= comment.comment_text %>
<% if comment.user == current_user %>
<%= link_to "削除", dish_comment_path(comment.dish,comment), method: :delete %>
<% end %>
<% end %>

