<!DOCTYPE html>
<html>
  <head>
    <title>CookOP</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css">
    <script src="https://kit.fontawesome.com/05131a82ca.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.2.1/font-awesome-animation.css" type="text/css" media="all" />
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-xl navbar-light bg-light">
        <%= image_tag asset_path("logo.png"), class: "logo mr-5 ml-3"%><!--ロゴ、リンク-->
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="レスポンシブ・ナビゲーションバー">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="Navber">

          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <% if user_signed_in? %>

            <div class="my-auto mr-5">
              <li class="nav-item active mr-3">
                <%= link_to  root_path, class:"btn btn-light" do %>
               <i class="fa-solid fa-house-chimney fa-fw faa-wrench animated-hover" style="color:#BDB76B;"></i>トップページ
               <% end %>
              </li>
              <li class="nav-item mr-3">
                <%= link_to dishes_ranking_path, class:"btn btn-light" do %>
                <i class="fa-solid fa-crown  fa-fw faa-wrench animated-hover" style="color:#FFD700;"></i>いいねランキング
                <% end %>
              </li>
            </div>
            <div class="my-auto mr-5">
              <li class="nav-item mr-3">
                <%= link_to new_dish_path, class:"btn btn-light" do %>
                <i class="fa-solid fa-utensils fa-fw faa-wrench animated-hover" style="color:#FF6347;"></i>CookOPする
                <% end %>
              </li>
              <li class="nav-item mr-3">
                <%= link_to users_path, class:"btn btn-light" do %>
                <i class="fa-solid fa-users fa-fw faa-wrench animated-hover" style="color:#66CDAA;"></i>ユーザー一覧
                <% end %>
              </li>
            </div>
            <div class="my-auto mr-5">
              <li class="nav-item mr-3">
                <%= link_to dishes_path, class:"btn btn-light" do %>
                <i class="fa-regular fa-image fa-fw faa-wrench animated-hover" style="color:#32CD32;"></i>みんなの投稿
                <% end %>
              </li>
              <li class="nav-item mr-3">
                <%= link_to  user_path(current_user.id), class:"btn btn-light" do %>
                <%= image_tag asset_path("user.png"),size: "20x20" %>マイページ
                <% end %>
              </li>
            </div>
            <div class="my-auto mr-5">
              <li class="nav-item mr-3 mb-">
                <li>
                <% if unchecked_notifications.any? %>
                  <i class="fa fa-circle" style="color: gold;"></i>
                <% end %>
                  <%= link_to notifications_path, class:"btn btn-light" do %>
                  <i class="fa-solid fa-bell fa-fw faa-wrench animated-hover" style="color:#ffdc00"></i>通知
                  <% end %>
                </li>
              </li>
              <li class="nav-item mr-3 mb-">
                 <%= link_to destroy_user_session_path, method: :delete, class:"btn btn-light" do %>
                 <%= image_tag asset_path("log_out.png"),size: "20x20" %>ログアウト
                 <% end %>
              </li>
            </div>
            <% else %>
            <li class="nav-item active mr-3">
                <%= link_to  root_path, class:"btn btn-light" do %>
               <i class="fa-solid fa-house-chimney fa-fw faa-wrench animated-hover" style="color:#BDB76B;"></i>トップページ
               <% end %>
            </li>
            <li class="nav-item mr-3">
              <%= link_to new_user_registration_path, class:"btn btn-light" do %>
              <%= image_tag asset_path("new.png"),size: "20x20" %>新規登録
              <% end %>
            </li>
            <li class="nav-item mr-3">
             <%= link_to new_user_session_path, class:"btn btn-light" do %>
             <%= image_tag asset_path("log_in.black.png"),size: "20x20" %>ログイン
             <% end %>
            </li>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    </header>
    <%= yield %>
  </body>
</html>
