<!DOCTYPE html>
<html>
  <head>
    <title>CookOP</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css">
    <script src="https://kit.fontawesome.com/05131a82ca.js" crossorigin="anonymous"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!--ロゴ、リンク-->
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="レスポンシブ・ナビゲーションバー">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="Navber">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <% if user_signed_in? %>

            <li class="nav-item active">
             <i class="fa-solid fa-house-chimney"></i><%= link_to "トップページ", root_path, class:"btn btn-success btn-sm" %>
            </li>
            <li class="nav-item">
              <i class="fa-solid fa-crown"></i><%= link_to "いいねランキング", dishes_ranking_path %>
            </li>
            <li class="nav-item">
              <%= link_to "CookOPする", new_dish_path %>
            </li>
            <li class="nav-item">
              <i class="fa-solid fa-circle-user"></i><%= link_to "ユーザー一覧", users_path %>
            </li>
            <li class="nav-item">
              <i class="fa-regular fa-image"></i><%= link_to "みんなの投稿", dishes_path %>
            </li>
            <li class="nav-item">
              <%= link_to "マイページ", user_path(current_user.id) %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト",  destroy_user_session_path, method: :delete %>
            </li>
            <% else %>
            <li class="nav-item">
              <%= link_to "About", homes_about_path %>
            </li>
            <li class="nav-item">
              <%= link_to "新規登録", new_user_registration_path %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", new_user_session_path %>
            </li>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
